// COLORS
$primary-color: #05cdd4;
$secondary-color: #08fad2;

$white-color: #fff;

$dark-grey: #4b4b4b;
$light-grey: #a3a2a2;

$dark-blue-text: #231d47; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
