// COLORS
$primary-color: #402786bc;
$secondary-color: #d7790ce5;

$white-color: rgba(218, 216, 206, 0.763);

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #382f73; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
